body{
    background-color: #fff;
}
.product__details-page{
    //background-color: red;
    margin-top: 20px;
    background-color: #fff;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    
    .products__details{
        width: 30%;
        //background-color: yellow;
        
        display: flex;
        flex-direction: column;
        .product__principalte-details{
            //background-color: pink;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            i{
                position: absolute;
                top:50%;
                z-index: 10;
                transform: translateY(-50%);
                background-color: rgb(221, 211, 211);
                display: inline-block;
                padding: 5px;
                cursor: pointer;
                opacity: .5;
                transition: .3s;
                border-radius: 50%;
                opacity: 0;
                visibility: 0;
                &.right-icon__product-details{
                    right: 15px;
                }
                &.left-icon__product-details{
                    left: 15px;
                }
                &:hover{
                    opacity: 1;
                }
            }
            &:hover{
                i{
                    opacity: 1;
                    visibility: visible;
                    &.right-icon__product-details{
                        right: 13px;
                    }
                    &.left-icon__product-details{
                        left: 13px;
                    }
                }
            }

        }
        .products__secondaires-details{
           
            //background-color: orange;
        }
    }
    .details___product-details{
        width: 50%;
        
        //background-color: blue;
    }
    @media screen and (max-width:1300px){
        .products__details,
        .details___product-details{
            width: 49%;
        } 
    }
    @media screen and (max-width:1090px){
        gap: 0.5%;
        
        flex-direction: column;
        .products__details,
        .details___product-details{
            width: 100%;
            
        }
    }
}