.review-description-products{
    
    //background-color: yellow;
    .header-review-description-products{
        p{
            color:#4e4e4e;
            padding: 0 5px;
            cursor: pointer;
            &:hover{
                border-bottom: 2px solid #333;
            }
            @media screen and (max-width:800px){
                font-size: 12px;
                font-weight: normal;
            }
        }
    } 
}