.review-description-products{
    .rating__product-details{
        flex-wrap: wrap;
        hr{
            height:0.5px;
            background-color: rgb(202, 197, 197);
            border:0;
        }
    }
}