@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 1rem; /*1 rem = 16px*/
  /*========== Colors ==========*/
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ff6c6c;
}
::-webkit-scrollbar-thumb:hover {
  background: #ed4848;
}

body.dark-theme {
  --first-color: hsl(var(--hue), var(--sat),75%);
  --title-color: hsl(var(--hue), 4%,95%);
  --text-color: hsl(var(--hue), 4%,80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%,32%);
  --scroll-thumb-color: hsl(var(--hue), 4%,24%);
}

/*===========Button Dark/Light===============*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  color: var(--title-color);
  font-size: 1.8rem;
  cursor: pointer;
}

.section {
  padding: 4.5rem 0 1rem;
}
.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.svg__color {
  fill: var(--first-color);
}
.svg__blod {
  fill: var(--first-color-light);
}
.svg__img {
  width: 300px;
  justify-self: center;
}

/*===================Layout====================*/
.container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header__home .icon-direction-left,
.header__home .icon-direction-right {
  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;
}
.header__home .offre {
  display: flex;
  align-items: center;
}
.header__home .offre p {
  display: none;
  font-size: 13px;
  transition: opacity 0.3s ease;
  opacity: 0;
  color: rgb(174, 169, 169);
}
.header__home .offre p.active {
  opacity: 1;
  display: block;
}
.header__home .menu-language {
  visibility: hidden;
  opacity: 0;
  top: 48px;
  transition: 0.3s;
}
.header__home .menu-language::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 10px;
  width: 12px;
  height: 12px;
  padding: 0;
  background: #fff;
  z-index: 100000;
  transform: rotate(-45deg);
}
.header__home .active {
  opacity: 1;
  visibility: visible;
  top: 40px;
}

.slider__home {
  position: relative;
  height: 600px;
  transition: 0.2s;
}
.slider__home .container-slide {
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  transition: opacity 1s;
  z-index: 1;
}
.slider__home .container-slide div {
  height: 600px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.slider__home .container-slide div .content-slider {
  width: 55%;
}
.slider__home .container-slide div .img-slider {
  width: 45%;
}
@media screen and (max-width: 1000px) {
  .slider__home .container-slide div {
    height: 400px;
    background-color: blue;
  }
}
@media screen and (max-width: 800px) {
  .slider__home .container-slide div {
    height: 350px;
    background-color: yellow;
  }
}
@media screen and (max-width: 700px) {
  .slider__home .container-slide div {
    height: 300px;
    background-color: green;
  }
}
@media screen and (max-width: 500px) {
  .slider__home .container-slide div {
    height: 500px;
    background-color: orange;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .slider__home .container-slide div .content-slider {
    width: 100%;
    height: 45%;
  }
  .slider__home .container-slide div .img-slider {
    width: 100%;
    height: 55%;
  }
}
.slider__home .active {
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  .slider__home {
    height: 400px;
    background-color: blue;
  }
}
@media screen and (max-width: 800px) {
  .slider__home {
    height: 350px;
    background-color: yellow;
  }
}
@media screen and (max-width: 700px) {
  .slider__home {
    height: 300px;
    background-color: green;
  }
}
@media screen and (max-width: 500px) {
  .slider__home {
    height: 500px;
    background-color: orange;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .slider__home .content-slider {
    width: 100%;
    height: 45%;
  }
  .slider__home .img-slider {
    width: 100%;
    height: 55%;
  }
}
.slider__home .bullets-pagination li {
  transition: 0.3s;
}
.slider__home .bullets-pagination .active {
  width: 24px;
  background-color: #ef4444;
}
.slider__home .span-icons-slier {
  background-color: rgb(224, 221, 221);
  opacity: 0.7;
  transition: 0.3s;
  transform-origin: center;
}
.slider__home .span-icons-slier:hover {
  opacity: 1;
  width: 45px;
  height: 45px;
}
.slider__home .span-icons-slier:hover .icon-slide {
  transform: scaleX(2.5);
}
.slider__home .span-icons-slier:hover .icon-right-slider {
  transition: margin 0.1s;
  margin-left: 5px;
}
.slider__home .span-icons-slier:hover .icon-left-slider {
  transition: margin 0.1s;
  margin-right: 5px;
}
.slider__home .span-icons-slier .icon-slider {
  color: rgb(118, 110, 110);
}
.slider__home:hover .span-icons-slier {
  visibility: visible;
  opacity: 1;
}
.slider__home:hover .span-icons-slier-right {
  right: 12px;
}
.slider__home:hover .span-icons-slier-left {
  left: 12px;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #1A1A1A;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button__header {
  display: none;
}
.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}
.button-link:hover {
  background-color: transparent;
}
.button-flex {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  padding: 0.75rem 1rem;
}
.button__icon {
  font-size: 1.5rem;
}

.navbar__home {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .navbar__home {
    padding: 5px 10px;
  }
}
.navbar__home .top-navbar {
  display: flex;
}
.navbar__home .top-navbar div:nth-child(1) {
  flex: 2;
  padding: 2px;
  display: flex;
  align-items: center;
}
.navbar__home .top-navbar div:nth-child(1) .logo-mugiwara {
  width: 70px;
  height: 40px;
}
.navbar__home .top-navbar div:nth-child(1) .logo-mugiwara img {
  width: 70px;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(1) .logo-mugiwara img {
    width: 50px;
    height: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar__home .top-navbar div:nth-child(1) {
    flex: 2;
  }
  .navbar__home .top-navbar div:nth-child(1) .name-logo {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(1) {
    flex: 9;
  }
}
.navbar__home .top-navbar div:nth-child(2) {
  flex: 6;
  padding: 2px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .navbar__home .top-navbar div:nth-child(2) {
    flex: 4;
  }
}
@media screen and (max-width: 830px) {
  .navbar__home .top-navbar div:nth-child(2) {
    display: none;
  }
}
.navbar__home .top-navbar div:nth-child(3) {
  flex: 4;
  display: flex;
  padding: 2px;
}
.navbar__home .top-navbar div:nth-child(3) .icon-wishlist {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__home .top-navbar div:nth-child(3) .icon-wishlist i {
  font-size: 20px;
  padding: 5px;
  border: 1px solid rgb(199, 199, 199);
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .icon-wishlist {
    justify-content: flex-end;
    flex: 2;
    cursor: pointer;
  }
}
.navbar__home .top-navbar div:nth-child(3) .account {
  flex: 2.5;
  display: flex;
  justify-content: flex-start;
  display: flex;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .account {
    padding: 0 10px;
  }
}
.navbar__home .top-navbar div:nth-child(3) .account .icon-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .account .icon-header {
    flex: 10;
    padding: 5px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 50%;
    cursor: pointer;
  }
}
.navbar__home .top-navbar div:nth-child(3) .account .sign-in {
  flex: 6;
  display: block;
  padding: 0;
}
.navbar__home .top-navbar div:nth-child(3) .account .sign-in span {
  font-size: 12px;
  display: block;
}
@media screen and (max-width: 1100px) {
  .navbar__home .top-navbar div:nth-child(3) .account .sign-in {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .account {
    flex: 2;
  }
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping {
    padding: 0 0 0 5px;
  }
}
@media screen and (min-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping {
    justify-content: flex-start;
  }
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping .icon-cart-shopping {
  flex: 1;
  border: none;
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping .icon-cart-shopping div {
  background-color: rgb(243, 243, 243);
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  width: 43px;
  height: 43px;
  padding: 2px;
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping .icon-cart-shopping div span {
  font-size: 9px;
  top: 0px;
  right: 0px;
  color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping .icon-cart-shopping div i {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping .icon-cart-shopping {
    flex: 0;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping .cart-boxing {
  padding: 10px 8px;
  display: block;
  font-size: 19px;
}
@media screen and (max-width: 1200px) {
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping .cart-boxing {
    padding: 10px 0px;
    font-size: 14px;
  }
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping .cart-boxing span {
  font-size: 12px;
  display: block;
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping .cart-boxing {
    display: none;
  }
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping .cart-boxing p {
    font-size: 13px;
    display: flex;
  }
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping .cart-boxing p i {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping .box-carts {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  top: 140px;
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping .box-carts {
    top: 140px;
    font-size: 12px;
  }
}
.navbar__home .top-navbar div:nth-child(3) .cart-shopping .active {
  opacity: 1;
  visibility: visible;
  top: 110px;
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping .active {
    top: 120px;
  }
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) .cart-shopping {
    flex: 4;
  }
}
.navbar__home .top-navbar div:nth-child(3) .menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.navbar__home .top-navbar div:nth-child(3) .menu-bar i {
  transform: scale(2.3, 1.9);
  color: rgb(124, 123, 123);
}
@media screen and (min-width: 801px) {
  .navbar__home .top-navbar div:nth-child(3) .menu-bar {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .navbar__home .top-navbar div:nth-child(3) {
    flex: 6;
  }
}
@media screen and (max-width: 800px) {
  .navbar__home .top-navbar div:nth-child(3) {
    flex: 3;
  }
}
@media screen and (max-width: 830px) {
  .navbar__home .bottom-navbar {
    display: none;
  }
}
.navbar__home .bottom-navbar .departement {
  flex: 1.3;
  position: relative;
  transition: 0.3s ease-in-out;
}
.navbar__home .bottom-navbar .departement .departement-products {
  border: 1px solid rgb(232, 231, 231);
  top: 60px;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
.navbar__home .bottom-navbar .departement .departement-products .departement-products-categories .box {
  opacity: 0.9;
  transform: scale(0.98);
  transition: 0.2s ease-in-out;
}
.navbar__home .bottom-navbar .departement .departement-products .departement-products-categories .box img {
  transform-origin: right top;
}
.navbar__home .bottom-navbar .departement .departement-products .departement-products-categories .box span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(76, 73, 73, 0.5);
  transition: 0.3s;
  color: #fff;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
  font-size: 14px;
}
.navbar__home .bottom-navbar .departement .departement-products .departement-products-categories .box:hover {
  opacity: 1;
  transform: scale(1);
}
.navbar__home .bottom-navbar .departement .departement-products .departement-products-categories .box:hover img {
  transition: 1.5s;
  transform: scale(1.1);
}
.navbar__home .bottom-navbar .departement .departement-products .departement-products-categories .box:hover span {
  opacity: 1;
  visibility: visible;
}
.navbar__home .bottom-navbar .departement::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: rgb(188, 187, 187);
  width: 2px;
  height: 60%;
}
.navbar__home .bottom-navbar .departement .icon-departement {
  transform: scale(2);
}
.navbar__home .bottom-navbar .departement .icon-arrow-dow-departement {
  transform: scale(0.69, 0.6);
}
.navbar__home .bottom-navbar .departement .toggle {
  top: 45px;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.navbar__home .bottom-navbar .links-page {
  flex: 10;
}
.navbar__home .bottom-navbar .links-page li {
  transition: 0.3s;
}
.navbar__home .bottom-navbar .links-page li:hover {
  transform: translateX(5px);
}
.navbar__home .bottom-navbar .links-page a {
  color: rgb(96, 93, 93);
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.navbar__home .bottom-navbar .links-page a:hover {
  color: #ef4444;
}
.navbar__home .bottom-navbar .links-page li:first-child a {
  color: #ef4444;
}
.navbar__home .bottom-navbar .links-page .list-account-nav {
  border: 1px solid rgb(242, 241, 241);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  top: 50px;
  z-index: 100000;
}
.navbar__home .bottom-navbar .links-page .list-account-nav li a {
  color: rgb(117, 116, 116);
  font-size: 15px;
  font-weight: normal;
}
.navbar__home .bottom-navbar .links-page .list-account-nav li a i {
  font-size: 10px;
  margin-left: 10px;
}
.navbar__home .bottom-navbar .links-page .list-account-nav li a:hover {
  color: #ef4444;
}
.navbar__home .bottom-navbar .links-page .list-account-nav .links-one-secondary .list-ul-secondary {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border: 1px solid rgb(240, 239, 239);
  background-color: blue;
}
.navbar__home .bottom-navbar .links-page .list-account-nav .links-one-secondary:hover .list-ul-secondary {
  opacity: 1;
  visibility: visible;
  left: 130px;
  z-index: 100000;
}
.navbar__home .bottom-navbar .links-page .list-account-nav .links-one-secondary-2 .list-ul-secondary-2 {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border: 1px solid rgb(240, 239, 239);
}
.navbar__home .bottom-navbar .links-page .list-account-nav .links-one-secondary-2:hover .list-ul-secondary-2 {
  opacity: 1;
  visibility: visible;
  left: 130px;
}
.navbar__home .bottom-navbar .links-page .account-link:hover .list-account-nav {
  visibility: visible;
  opacity: 1;
  background-color: blue;
  top: 25px;
  z-index: 100000;
}
.navbar__home .nav-links-bottom-phono {
  width: 100%;
  transform: scale(1, 0);
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: transform 0.2s;
  transform-origin: top;
}
@media screen and (min-width: 830px) {
  .navbar__home .nav-links-bottom-phono {
    display: none;
  }
}
.navbar__home .nav-links-bottom-phono div {
  display: flex;
  flex-direction: column;
}
.navbar__home .nav-links-bottom-phono div form {
  width: 100%;
}
.navbar__home .nav-links-bottom-phono div form input {
  width: 100%;
  padding: 13px 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(213, 212, 212);
  transition: 0.3s;
}
.navbar__home .nav-links-bottom-phono div form input::-moz-placeholder {
  font-size: 17px;
  color: rgb(213, 212, 212);
}
.navbar__home .nav-links-bottom-phono div form input:-ms-input-placeholder {
  font-size: 17px;
  color: rgb(213, 212, 212);
}
.navbar__home .nav-links-bottom-phono div form input::placeholder {
  font-size: 17px;
  color: rgb(213, 212, 212);
}
.navbar__home .nav-links-bottom-phono div form .icon-search-mobile {
  position: absolute;
  font-size: 25px;
  color: rgb(213, 212, 212);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.navbar__home .nav-links-bottom-phono div ul {
  margin: 10px 2px;
  display: flex;
  flex-direction: column;
}
.navbar__home .nav-links-bottom-phono div ul li {
  background-color: rgba(240, 243, 243, 0.5);
  padding: 10px 13px;
  border-radius: 8px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar__home .nav-links-bottom-phono div ul li a {
  display: flex;
  color: rgb(134, 130, 130);
  transition: 0.3s;
  font-weight: 500;
}
.navbar__home .nav-links-bottom-phono div ul li a .icon-grid {
  width: 25px;
  height: 25px;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__home .nav-links-bottom-phono div ul li a .icon-arrow {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
}
.navbar__home .nav-links-bottom-phono div ul li:hover a {
  color: #ef4444;
}
.navbar__home .nav-links-bottom-phono div ul li:first-child {
  margin-bottom: 0;
  margin-top: 0;
}
.navbar__home .nav-links-bottom-phono div ul ul {
  background-color: rgb(236, 234, 234);
  padding: 0px;
  height: 0;
  opacity: 0;
  transform-origin: top;
  transition: height 0.6s;
}
.navbar__home .nav-links-bottom-phono div ul ul.active {
  height: auto;
  opacity: 1;
}
.navbar__home .nav-links-bottom-phono .account-list-mobile {
  transform: scale(1, 0);
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: transform 0.2s;
  transform-origin: top;
  background-color: rgba(240, 243, 243, 0.5);
}
.navbar__home .nav-links-bottom-phono .account-list-mobile span a {
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s;
  color: rgb(71, 71, 71);
}
.navbar__home .nav-links-bottom-phono .account-list-mobile span a:hover {
  color: #ef4444;
}
.navbar__home .nav-links-bottom-phono .account-list-mobile span a i {
  font-size: 7px;
  transform: rotate(90deg);
}
.navbar__home .nav-links-bottom-phono .account-list-mobile span .child-one-account-version-mobile,
.navbar__home .nav-links-bottom-phono .account-list-mobile span .child-two-account-version-mobile {
  transform: scale(1, 0);
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: transform 0.2s;
  transform-origin: top;
  background-color: rgba(240, 243, 243, 0.5);
}
.navbar__home .nav-links-bottom-phono .account-list-mobile span .child-one-account-version-mobile span a,
.navbar__home .nav-links-bottom-phono .account-list-mobile span .child-two-account-version-mobile span a {
  color: rgb(103, 102, 102);
  font-size: 11px;
}
.navbar__home .nav-links-bottom-phono .account-list-mobile span .child-one-account-version-mobile span a:hover,
.navbar__home .nav-links-bottom-phono .account-list-mobile span .child-two-account-version-mobile span a:hover {
  color: #ef4444;
}
.navbar__home .nav-links-bottom-phono .account-list-mobile span .expanded-child {
  opacity: 1;
  height: 100%;
  padding: 5px;
  transition: transform 0.1s;
  visibility: visible;
  margin-bottom: 10px;
  margin: 6px 10px;
  transform: scale(1, 1);
}
.navbar__home .nav-links-bottom-phono .expanded {
  opacity: 1;
  height: 100%;
  transition: transform 0.1s;
  visibility: visible;
  margin-bottom: 10px;
  transform: scale(1, 1);
}
.navbar__home .nav-links-bottom-phono .account-link-mobile-li a:hover {
  color: #ef4444;
}
.navbar__home .show {
  min-height: 300px;
  opacity: 1;
  height: 100%;
  padding: 5px;
  transition: transform 0.1s;
  visibility: visible;
  margin-top: 5px;
  transform: scale(1, 1);
}/*# sourceMappingURL=styles.css.map */