.colors-filter-shop-page-parent{
    .colors-filter-shop-page{
        label{
            border:1px solid rgb(190, 181, 181);
            transition:.3s;
            box-sizing: border-box;
            cursor: pointer;
            span{
                opacity: .6;
            }
            &:hover{
                border:1px solid rgb(233, 86, 86);
                span{opacity: 1;}
            }
            &.active{
                border:2px solid rgb(233, 86, 86);
                width: 47px;height:47px;
                span{
                    opacity: 1;
                    
                }
            }
        }
        &:nth-child(1){
            label{
                span{
                    background-color:rgb(0, 170, 255);
                    
                }
            }
        }
        &:nth-child(2){
            label{
                span{
                    background-color:rgb(255, 242, 0);
                }
            }
        }
        &:nth-child(3){
            label{
                span{
                    background-color:rgb(255, 0, 60);
                }
            }
        }
        &:nth-child(4){
            label{
                span{
                    background-color:rgb(14, 14, 16);
                }
            }
        }
        &:nth-child(5){
            label{
                span{
                    background-color:rgb(164, 164, 179);
                }
            }
        }
        &:nth-child(6){
            label{
                span{
                    background-color:rgb(0, 255, 4);
                }
            }
        }
        &:nth-child(7){
            label{
                span{
                    background-color:rgb(242, 0, 255);
                }
            }
        }
        &:nth-child(8){
            label{
                span{
                    background-color:rgb(255, 94, 0);
                }
            }
        }
        
    }
}
